/* You can add global styles to this file, and also import other style files */
body{
  background-image: url('https://storage.needpix.com/rsynced_images/background-4232859_1280.png');
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
