#productsTable{
  img{
    width:180px;
    height:240px;
  }
  td{
    padding:20px;
  }
}
th{
  color: white;
}
div {
  background-image: url('https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/273770/c589dcdecf74ef61f207bcc3d6dac52273d96973.jpg');
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
}
