<app-panel-top></app-panel-top>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(function(){
    var w = $(widnow).width;
    var w50 = w/2;
    var w30 = w*30/100;
    $('#cartTable').css('width', w50);
    $(img).css('width', w30);
  });
</script>
<button class="myButton" routerLink="/landing">Powrót</button>
<div class="products">
 <table style="margin:0 auto;" id="cartTable">
 <thead *ngIf="this.mainService.products">
  <tr>
    <th>obrazek</th>
    <th>dane</th>
    </tr>
 </thead>
 <tbody>
 <ng-container *ngFor="let object of this.mainService.cart">
 <tr style="background-color: whitesmoke;">
 <td><img src="{{object.product.thumbnail}}" alt=""></td>
 <td>
 <img class="center" src="https://i.imgur.com/Pz1em06.png">
 <ul>
 <li>Tytuł: {{object.product.title}}</li>
 <li>Cena: {{object.product.price}}</li>
 <li>Kategoria: {{object.product.category}}</li>
 </ul>
 </td>
 </tr>
 </ng-container>
 </tbody>
 </table>
 <div class="payment">
 <div id="paypal">
 </div>
 <form action="http://www.jakubadamus.cba.pl/paypal.php" method="get" #paymentForm>
 <p align="center"><input type="text" #firstName name="firstName" id="" placeholder="Imie">
  <p align="center"><input type="text" #lastName name="lastName" id="" placeholder="Nazwisko">
    <p align="center"><input type="text" #email name="email" id="" placeholder="Email">
      <p align="center"><input type="text" name="phone" id="" placeholder="Telefon">
 <ng-container *ngFor="let object of this.mainService.cart">
 <input type="hidden" name="products[]" value="{{ object | json }}">
 </ng-container>
 <div class="summary">
  <p align="center" class="kolor">Do zapłaty: {{getCartPrice()}}</p>
  </div>
 <p align="center" class="kolor2"><label for="">Akceptuję regulamin:
 <input #regulamin type="checkbox" name="aggrement" id="" (change)="0">
 </label>
 <p align="center"><button [disabled]="!regulamin.checked" (click)="paymentForm.submit()">
  <img src="https://www.paypalobjects.com/webstatic/icon/pp258.png" width="1%">Kup</button>
  <p>&nbsp;</p>
 </form>
 </div>
</div>
